<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>URL History</h1>

<table>
    <tr>
        <th>Original URL</th>
        <th>Short URL</th>
    </tr>

    {% for row in urls %}
    <tr>
        <td><a href="{{ row['original_url'] }}" target="_blank">{{ row['original_url'] }}</a></td>
        <td>
            <a href="{{ host }}{{ row['short_code'] }}" target="_blank">
                {{ host }}{{ row['short_code'] }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">Back to Home</a>

</body>
</html>
